.App {
  font-family: sans-serif;
}

body {
  width: 699.3px;
  height: 869.2px;
  margin: auto;
}

h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #170f49;
}

h2 {
  /* Paragraph/Default */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  text-align: center;

  /* Neutral/600 */
  color: #6f6c90;
  font-family: "DM Sans";

  margin: 0;
}

h3 {
  /* Submit your quote request */

  /* Headings/Typography Size 3 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height, or 146% */
  text-align: center;

  /* Neutral/800 */
  color: #170f49;

  margin-top: 10px;
  margin-bottom: 5px;
}

.instruksi {
  width: 566.4080810546875px;
  height: 70px;
  margin: auto;
}

.card {
  box-sizing: border-box;
  margin-top: 43px;
  width: 698px;
  height: 606px;
  left: 370.7px;
  top: 348.9px;

  /* Neutral/100 */
  background: #ffffff;
  /* Neutral/300 */
  border: 1px solid #eff0f7;
  /* Cards/Short Default */
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;

  padding: 40px 40px;
}

.progress-bar {
  text-align: center;
}

.garis {
  margin-top: 20px;
  border: 1px solid #d9dbe9;
}

.header {
  /* Headings/Typography Size 3 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height, or 146% */

  /* Neutral/800 */
  color: #170f49;

  margin-top: 60px;
}

.instruksi-form {
  /* Paragraph/Default */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  /* Neutral/600 */
  color: #6f6c90;
}
.text-edit-form {
  /* Other/18-20 R */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  /* Neutral/600 */
  color: #6f6c90;

  /* Rectangle 432 */

  box-sizing: border-box;

  /* Neutral/100 */
  background: #ffffff;
  /* Neutral/300 */
  border: 1px solid #eff0f7;
  /* Input/Default */
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;

  width: 284px;
  height: 66px;

  padding: 30px;

  margin-top: 20px;
  order: 1;
}

.label-form {
  /* Other/18-20 M */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  /* Neutral/800 */
  color: #170f49;
  order: 0;
}

.label-form-required {
  /* Other/18-20 M */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  /* Neutral/800 */
  color: #962dff;
  order: 2;

  margin-top: 10px;
}

.empty-field-label {
  color: #962dff;
}

.empty-field-text-edit {
  border: 2px solid #962dff;
  outline: none;
}

.text-edit-form:focus {
  border: 2px solid #4a3aff;
  outline: none;
}

#name:focus ~ #label-name {
  color: #4a3aff;
}

#email:focus ~ #label-email {
  color: #4a3aff;
}
#phone:focus ~ #label-phone {
  color: #4a3aff;
}
#company:focus ~ #label-company {
  color: #4a3aff;
}

.icon-name {
  background: url("name.png") no-repeat scroll 7px 7px;
  background-position: right;
  background-origin: content-box;
}
.icon-email {
  background: url("email.png") no-repeat scroll 7px 7px;
  background-position: right;
  background-origin: content-box;
}
.icon-phone {
  background: url("phone.png") no-repeat scroll 7px 7px;
  background-position: right;
  background-origin: content-box;
}
.icon-company {
  background: url("company.png") no-repeat scroll 7px 7px;
  background-position: right;
  background-origin: content-box;
}

.body {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.item-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.item-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.item-3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.item-4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button-next {
  background: #4a3aff;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;

  /* Button Text */

  width: 165px;
  height: 61px;

  /* Other/18-20-B */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  text-align: center;

  /* Neutral/100 */
  color: #ffffff;

  float: right;
}

.button-submit {
  background: #4a3aff;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;

  /* Button Text */

  width: 165px;
  height: 61px;

  /* Other/18-20-B */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  text-align: center;

  /* Neutral/100 */
  color: #ffffff;

  margin: auto;
}

.submit {
  margin-top: 20px;
  text-align: center;
}

.button-prev {
  background: #ffffff;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  border: 1px solid #4a3aff;
  border-radius: 66px;
  /* Button Text */

  width: 192px;
  height: 60px;

  /* Other/18-20-B */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  text-align: center;

  /* Neutral/100 */
  color: #4a3aff;

  float: left;
}

.footer {
  margin-top: 30px;
}

.hidden {
  visibility: hidden;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 0px;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5px;

  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;

  padding: 20px;
}

.card-text {
  align-self: center;
  /* Development */

  /* Other/18-20 M */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  /* Neutral/800 */
  color: #170f49;
}
.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 2px 2px #4a3aff;
  border-radius: 34px;
}

.card-input-2 {
  margin: 0px;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 5px;

  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;

  padding: 20px;
}
.card-input-2:hover {
  cursor: pointer;
}
.card-input-element-2 {
  display: none;
}

.card-input-element-2:checked + .card-input-2 {
  box-shadow: 0 0 2px 2px #4a3aff;
  border-radius: 34px;
}

.card-icon {
  width: 66.64px;
  height: 66.64px;
  background-image: url("elipse.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.img-icon {
  display: block;
  margin: 0 auto;
  padding: 25% 0px;

  width: 32px;
  height: 32px;
}

.check-icon {
  display: block;
  margin: 0 auto;
  padding: 25% 0px;

  width: 32px;
  height: 32px;
}

.complete-icon {
  display: block;
  margin: auto;
}

.complete h2 {
  text-align: center;
  max-width: 494.67px;
  margin: auto;
}

/*
* {
  border: 1px solid red !important;
}
*/
